.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-transform : none;
  font-family: 'museo-sans', 'Helvetica', 'Arial';
  font-weight: 100;
}

.reveal ul{
  font-size : 70%;
}

.reveal pre{
  box-shadow : none;
}